@font-face{
    font-family: vazir-medium;
    src: url('../font/Vazir-Medium.eot') format('eot'),
    url('../font/Vazir-Medium.woff') format('woff'),
    url('../font/Vazir-Medium.woff2') format('woff2');
    font-weight: 700px;
    font-style: normal;
}
*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: vazir-medium;
    direction: rtl;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.red{
    background-color: #eb3b5a;
}
.green{
    background-color: #26de81;
}
.blue{
    background-color: #54a0ff;
}
.d-blue{
    background-color: #3c40c6;
}
.yellow{
    background-color: #feca57;
}
.pink{
    background-color: #f78fb3;
}
.purple{
    background-color: #5f27cd;
}
.gray{
    background-color: #c8d6e5;
}
.d-gray{
    background-color: #576574;
}
.black{
    background-color: #222f3e;
}